<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='utf-8' />
    <link href='stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css' />
    <link href='stylesheets/print.css' media='print' rel='stylesheet' type='text/css' />
    <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <title>Test</title>
  </head>
  <body>
    <div id='main'>
      <header>
        <h1>John Doe Photograghy</h1>
      </header>
      <nav role='navigation'>
        <ul>
          <li>
            <a href='/'>Home</a>
          </li>
          <li>
            <a href='/portfolio/'>Portfolio</a>
          </li>
          <li>
            <a href='/about'>About</a>
          </li>
          <li>
            <a href='/contact'>Contact</a>
          </li>
        </ul>
      </nav>
      {{ content }}
      <footer>
        <p>@copy; John Doe Photography 2011 | All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
